#menulist 
{
        margin-top: 0px;
		height: 61px;
        padding: 1px;
        font: bold 12px Verdana, sans-serif;
        border-bottom: 1px solid #adb5bd;
		position:relative;
		background: #74747c;
        border-top:2px solid red;
}

#menulist li {
        list-style: none;
        margin: 1px;
        display: block;
		float: left;
		color: #fff;
		
}

#menulist li a {
        padding: 4px 0px 3px 4px;
        margin-left: 0px;
        background: transparent;
        text-decoration: none;
		display: block;
		width: 100px;
		height: 55px;
		text-align:center;
		color: #fff;
		
}

#menulist li a:hover { color: #3b3d3c; }

#menulist li:hover {
        background: #fff;
}

#menulist li.current a
{
        color: #3b3d3c;
        background: #fafafb;
        
}


#menulist ul {padding:0; margin:0; list-style:none; position:absolute; height:25px; width:100%; background:#cee0ec; left:-9999px; top:58px; z-index:10; border-bottom:1px solid #fff;}
#menulist ul li {height:25px; line-height:25px;}
#menulist ul.right li {float:right;}
#menulist ul li a {color:#000; padding:0 10px 0 10px; height:25px; line-height:25px; border-right:1px solid #e60; font-weight:bold; font-size:10px;width:auto;}
#menulist ul li a:hover {height:25px; line-height:25px; background:transparent; color:#c60;}
#menulist ul.right li a {border-left:1px solid #e60; border-right:0;}
#menulist ul li a.last {border:0;}


#menulist :hover ul {left:0;}

#menulist li.current ul {left:0; z-index:1;}
#menulist li.current ul li a {color:#000; padding:0 10px 0 10px; height:25px; line-height:25px; background:transparent;}
#menulist li.current ul li.current_sub a {color:#c60;}
#menulist li.current ul li a:hover {color:#c60;}

/*tabs*/

#pad {height:36px;width:1400px;}
#padsmall {height:36px;width:1000px;}

.padtabs
{
    background:url('images/ul2.png') repeat-x;
}
/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssmenus.co.uk
Copyright (c) 2009- Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
/*
#menu {padding:0; margin-left:13px; list-style:none;}
#menu li {float:left; margin-left:1px;}
#menu li a {display:block; height:40px; line-height:40px; padding:0 20px; float:left; background:#ddd; color:#000; text-decoration:none;}
#menu li a b {text-transform:uppercase;}
#menu li a:hover, 
.home #menu li#home a,
.single #menu li#single a,
.dropdown #menu li#dropdown a,
.dropline #menu li#dropline a,
.flyout #menu li#flyout a,
.support #menu li#support a,
.contact #menu li#contact a
{background: #fff url('images/arrow.gif') no-repeat center bottom; color:#e60;}

#menu li.active a
{
    background: #fff url('images/arrow.gif') no-repeat center bottom; color:#e60;
}

*/
/*
    #pad {height:140px;}
*/

#menu {padding:0; list-style:none; height:36px;}
#menu li {float:left;}
#menu li a {display:block; height:36px; line-height:36px; padding:0 20px 0 0; float:left; color:#333; text-decoration:none;}
#menu li a b {display:block; height:36px; float:left; padding:0 0 0 20px; cursor:pointer;}
#menu li a:hover, 
.home #menu li#home a,
.single #menu li#single a,
.dropdown #menu li#dropdown a,
.dropline #menu li#dropline a,
.flyout #menu li#flyout a,
.support #menu li#support a,
.contact #menu li#contact a
{background:url('images/tab_c.png') no-repeat right top; line-height:36px;color:#333;}
#menu li a:hover b,
.home #menu li#home a b,
.single #menu li#single a b,
.dropdown #menu li#dropdown a b,
.dropline #menu li#dropline a b,
.flyout #menu li#flyout a b,
.support #menu li#support a b,
.contact #menu li#contact a b
{background:url('images/tab_d.png') no-repeat left top; line-height:36px;}

#menu li.active a
{
    background:url('images/tab_c.png') no-repeat right top; line-height:36px;
    
    
}
#menu li.active b
{
    background:url('images/tab_d.png') no-repeat left top; line-height:36px;
    color: #333;
}